<%- require('./themeCommon/header.ejs')({title: htmlWebpackPlugin.options.title}) %>

<div class="mapSearch">
  <div class="overlayImg">
    <video muted autoplay loop>
      <source src="assets/3d/banner.mp4" type="video/mp4">
      <p>Sorry, your browser doesn't support embedded videos.</p>
    </video>
    <!-- <img src="assets/3d/banner.jpg" alt="banner"> -->
  </div>
  <div class="mapContainer">
    <div class="headingBox">
      <h1>Experience Dubai in 3D </h1>
      <p>Lorem ipsum is simply dummy text of the printing and typesetting.</p>
    </div>
    <div class="searchBox">
      <div class="searchBoxInput">
        <div class="searchBoxInputControl">
          <input type="text" class="form-control" name="searchProject" id="searchProject" placeholder="Project Name, Locality, Builder, Landmark or Road">
        </div>
        <div class="searchBoxInputOutput"></div>
      </div>
      <div class="searchBoxBtn">
        <button class="btn btn-3dSearch" type="submit">
          <span>Search</span>
        </button>
      </div>
    </div>
  </div>
</div>

<%-  require('./themeCommon/footer.ejs')() %>